<div class="container">
   <div class="row">
     <div class="col-12 d-md-none">
       <div class="text-center ">
         <img src="../assets/aboutSheik.png" class="AboutImage" alt="" srcset="">
       </div>

     </div>
     <div class="col-12 d-none d-md-block">
       <div class="text-center ">
         <img src="../assets/aboutSheik.png" class="AboutImage2" alt="" srcset="">
       </div>

     </div>


   </div>
  <div class="row">
    <div class="col-12 col-md-5 m-auto">
      <h1>About</h1>
      <p style="font-size: 20px ;color: #6B7280;"> Abuthair, a Software Engineer, actively learns and engages. </p>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row d-flex flex-row   justify-content-center ">
    <div class="col-12  col-md-4">
      <p class=" ">
        Abuthair is a dynamic individual with a background in Mechanical Engineering (BE) from Vels University and ongoing participation in Scaler Academy's Full Stack Developer Program. Hailing from Chennai, India, he completed his Higher Secondary and Secondary education at Montfort Academy.
      </p>
    </div>
    <div class="col-12 col-md-4 ">

      <p class=" ">
        His programming proficiency spans Java, Javascript, HTML, CSS, and Shell, with additional familiarity in SpringBoot, Angular, Git, MySQL, RestAPI, and PostMan. Abuthair is well-versed in various software/tools, including IntelliJ IDEA, MySQL CMD, SQL Server Management Studio, Visual Studio Code, and Jira.
      </p>

    </div>

  </div>
  <div class="row  d-flex flex-row justify-content-center ">
    <div class="col-12 col-md-4 ">

      <p class=" ">
        Abuthair's professional journey includes serving as an Associate Software Engineer at Acheron Software since January 2023. In this role, he troubleshoots OpenText AppWorks, manages databases for the Monster Energy Project, and leverages front-end development skills to enhance user interfaces.
      </p>

    </div>
    <div class="col-12 col-md-4 ">

      <p class=" ">
        Feel free to download Abuthair's  <a href="./assets/AbuthairSheika.pdf" download>Resume</a> .Connect with Abuthair on <span ><a href="https://github.com/Abuthair97" target="_blank">Github</a></span>,<span><a href="https://www.linkedin.com/in/sheika-abuthair/" target="_blank">LinkedIn</a></span> ,<span><a href="https://www.scaler.com/academy/profile/82907802841f/" target="_blank">Scaler Academy</a></span> , and <span><a href="https://leetcode.com/abuthair11/" target="_blank">LeetCode</a></span> . His diverse experiences and continuous commitment to learning make him a valuable asset in the world of software engineering.
      </p>

    </div>
  </div>
<!--  Experience Section -->
   <div class="row pt-5">
     <div class="col-12 d-flex flex-row justify-content-center">
       <div class="exp-ImgSec">
         <img src="./assets/acheron.jpeg" class="expImg">
       </div>
       <div class="font-size p-3">
         <p  >Acheron | Associate software engineer</p>
         <p >Contributed to   <a href="https://www.monsterenergy.com/en-in/" target="_blank">Monster Energy</a></p>
       </div>
     </div>
     <div class="col-12 d-flex flex-row justify-content-center">
       <div class="exp-ImgSec">
         <img src="./assets/acheron.jpeg" class="expImg">
       </div>
       <div class="font-size p-3">
         <p  >Acheron | Software Developer Internship </p>
         <p >Full-stack Dev</p>
       </div>
     </div>
     <div class="col-12 d-flex flex-row justify-content-center">
       <div class="exp-ImgSec">
         <img src="./assets/toyata.png" class="expImg">
       </div>
       <div class="font-size p-3">
         <p  >Toyota | Mech Engineer Internship Trainee </p>
         <p > Functional Operation Engineer</p>
       </div>
     </div>
   </div>

</div>

